# Editor directories and files
.vscode
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*lock.yaml

# Docs
site

# Environment
.ipynb_checkpoints
__pycache__
*.pyc
.env

# Inference
*.pt
*.pth
*.onnx
